#
yfinance

# PyPortfolioOpthttps://pyportfolioopt.readthedocs.io/en/latest/Prior to installing PyPortfolioOpt,
# you need to install C++. On macOS, this means that you need to install XCode Command Line Tools (see here).
# https://docs.bigchaindb.com/projects/server/en/v0.7.0/appendices/install-latest-pip.html
# https://osxdaily.com/2014/02/12/install-command-line-tools-mac-os-x/
PyPortfolioOpt
pandas-datareader
pandas==2.1.1


